.parent {
  background-color: hsla(200, 100%, 20%);
  height: 400px;
  width: 400px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child {
  background-color: red;
  height: 50%;
  width: 50%;
  border-radius: 5%;

  transition: all 0.2s ease-in-out 0s;
}
.parent:hover .child {
  transform: rotate(90deg);
  /* background-color: green; */
  border-radius: 50%;
}